html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

body {
  font-family: 'Muli', sans-serif; }

.user-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .user-input__plain-text {
    font-size: 10rem;
    font-weight: 300;
    color: #828282; }
  .user-input__activity-select {
    color: #828282;
    font-weight: 300;
    font-size: 10rem; }

.home-container {
  height: 100vh;
  padding: 0.5rem;
  position: relative; }

.activity-options {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .activity-options label {
    margin: 0 0.5rem 0 2rem; }
