html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

body {
  font-family: 'Muli', sans-serif; }

.home-container {
  height: 100vh;
  padding: 0.5rem;
  position: relative; }

.activity-options {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .activity-options label {
    margin: 0 0.5rem 0 2rem; }

.centerdiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.section-input {
  background-color: red;
  color: #828282;
  font-weight: 200;
  font-size: 10rem;
  word-spacing: 3rem; }
  .section-input__activity-select {
    color: #828282;
    font-weight: 200;
    font-size: 10rem; }

.section-canI {
  background-color: orange;
  text-align: center; }
  .section-canI__span {
    font-size: 17rem;
    font-weight: 400;
    color: #828282; }

.section-weather {
  background-color: yellow;
  min-height: 20rem; }
