html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

body {
  font-family: 'Muli', sans-serif; }

.u-margin-top-small {
  margin-top: 3rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(79, 79, 79, 0.8);
  z-index: 800;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      background-color: rgba(79, 79, 79, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45rem;
    height: 75%;
    background-color: #FFF;
    box-shadow: 0 2rem 4rem rgba(79, 79, 79, 0.2);
    border-radius: 3px;
    overflow: hidden;
    padding: 3rem;
    color: #4f4f4f;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .3s .2s; }
    @media (max-width: 900px) {
      .popup__content {
        display: relative;
        width: 100%;
        height: 100vh; } }
    @media (max-width: 600px) {
      .popup__content {
        display: relative; } }
  .popup__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background-color: #4f4f4f;
    border: none;
    border-radius: 2px;
    color: #ededed;
    padding: .75rem 1.5rem 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    line-height: 3rem; }
  .popup__header {
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .popup__sub-header {
    font-weight: 200;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 4rem;
    margin-bottom: 1.5rem; }
  .popup__settings-item {
    display: flex;
    justify-content: space-between;
    font-size: 2rem; }
    .popup__settings-item:not(:last-child) {
      margin-bottom: 1rem; }
    .popup__settings-item input {
      border: none;
      border-bottom: 1px solid #4f4f4f;
      text-align: right;
      width: 4rem; }
  .popup__reset-button {
    display: block;
    margin: 2rem auto 0 auto;
    text-decoration: none;
    background-color: #828282;
    color: #ededed;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    cursor: pointer; }
    .popup__reset-button:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .popup__reset-button:active, .popup__reset-button:focus {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      outline: none; }

.home-container {
  position: relative; }

.settings-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 2rem;
  right: 2rem; }
  .settings-area__button {
    text-decoration: none;
    background-color: #828282;
    color: #ededed;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    cursor: pointer; }
    .settings-area__button:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .settings-area__button:active, .settings-area__button:focus {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      outline: none; }
  .settings-area__current-settings {
    margin-top: 1rem;
    color: #4f4f4f;
    font-size: 1.1rem;
    vertical-align: center;
    text-align: right; }
  .settings-area__setting-icon {
    font-size: 1.4rem;
    text-align: center;
    padding-left: 1rem; }

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.section-input {
  text-align: center;
  color: #828282;
  font-weight: 200;
  font-size: 8rem;
  word-spacing: 1.5rem;
  padding-top: 12rem; }
  @media (max-width: 900px) {
    .section-input {
      font-size: 6rem; } }
  .section-input__select {
    color: #828282;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 8rem; }
    @media (max-width: 900px) {
      .section-input__select {
        font-size: 6rem; } }
  .section-input__select-option {
    font-weight: 200; }

.section-canI {
  margin: 3rem 0;
  height: 32rem;
  line-height: 32rem;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  transition: opacity 0.4s;
  opacity: 1; }
  @media (max-width: 600px) {
    .section-canI {
      height: 20rem;
      line-height: 20rem; } }
  .section-canI__span {
    font-size: 32rem;
    font-weight: 400;
    color: #4f4f4f; }
    @media (max-width: 600px) {
      .section-canI__span {
        font-size: 20rem; } }

.section-weather {
  color: #4f4f4f;
  margin-bottom: 5rem; }
  @media (max-width: 900px) {
    .section-weather {
      padding: 1rem; } }
  .section-weather__weather-box {
    background-color: #ededed;
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .section-weather__header {
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase; }
  .section-weather__location {
    font-size: 1.8rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem; }
    .section-weather__location span {
      font-weight: 400;
      text-transform: none; }
  .section-weather__forecast-table {
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
    vertical-align: center; }
    .section-weather__forecast-table td {
      text-align: left; }
    .section-weather__forecast-table th {
      text-align: left !important; }
    .section-weather__forecast-table span {
      padding: 0.5rem;
      border-radius: 2px; }
  .section-weather__forecast-icon {
    height: 3rem; }
  @media (max-width: 600px) {
    .section-weather__forecast-summary {
      display: none; } }

.highlighted span {
  background-color: rgba(255, 0, 0, 0.3); }

.attribution {
  color: #4f4f4f;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 5px; }
  .attribution a {
    color: #4f4f4f; }

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition: 0.5s linear all;
  opacity: 0; }

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity: 1; }
