.current-settings {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position:fixed;
    top: 12rem;
    right: 4rem;
    color: $color-grey;

    @include respond('tab-port') {
        display: none;
    }

    &__table {
        color: $color-dark-grey;
        font-size: 1.1rem;
        vertical-align: center;
        text-align: right;
    }

    &__icon {
        font-size: 1.4rem;
        text-align: center;
        padding-left: 1rem;
    }
}

.settings-button {
    &__checkbox {
        display: none;
    }
    

    &__button {
        background-color: $color-light-grey;
        height: 6rem;
        width: 6rem;
        position: fixed;
        top: 4rem;
        right: 4rem;
        border-radius: 50%;
        z-index: 900;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

        @include respond('phone') {
            top: 2rem;
            right: 2rem;
        }
    }
    
    //FUNCTIONALITY
    
    &__checkbox:checked ~ .popup {
        opacity: 1;
        visibility: visible;
    }


    &__checkbox:checked ~ .popup .popup__content {
        opacity: 1; 
        transform: translate(-50%, -50%) scale(1);
    }
    
    //ICON
    &__icon {
    
        position: relative;
        margin-top: 3rem;
    
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-dark-grey;
            display: inline-block;
        }
    
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
    
        &::before {
            top: -.8rem;
        }
    
        &::after {
            top: .8rem;
        }
    }
    
    &__button:hover &__icon::before {
        top: -1rem;
    }
    
    &__button:hover &__icon::after {
        top: 1rem;
    }
    
    
    //Using the checkbox hack... when the nav button is clicked do something to the icon
    &__checkbox:checked + &__button &__icon {
        //Make the "central" menu line transparent
        background-color: transparent;
    
        //Rotate the "top" menu line 45 degrees
        //Set the basis of the line to the top so that the X isn't skewed
        &::before {
            top:0;
            transform: rotate(135deg);
        }
    
        //Rotate the "bottom" menu line 45 degrees the opposite direction
        //Set the basis of the line to the top so that the X isn't skewed
        &::after {
            top: 0;
            transform: rotate(-135deg);
        }
    }
}

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-dark-grey, .8);
    z-index: 800;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: rgba($color-dark-grey, .3);
    }

    &__content {
        @include absolute-center;
        width: 55rem;
        //height: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-dark-grey, .2);
        border-radius: 3px;
        //display: table;
        overflow: hidden;
        padding: 3rem;
        color: $color-dark-grey;

        //initial state before transition
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);

        transition: all .2s .2s;

        @include respond(tab-port) {
            display: relative;
            width: 100%;
            height: 100vh;
            border-radius: 0;
        }
    }

    &__header {
        font-size: 4rem;
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__sub-header {
        font-size: 3rem;
        text-align: center;
        font-weight: 200;
        text-transform: uppercase;
        margin-top: 4rem;
        margin-bottom: 1.5rem;
    }

    &__settings-item {
        display: flex;
        justify-content: space-between;
        font-size: 2rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        input {
            font-size: 2rem;
            color: $color-dark-grey;
            border: none;
            border-bottom: 1px solid $color-grey;
            text-align: right;
            width: 4rem;
        }

        select {
            font-size: 2rem;
            color: $color-dark-grey;
        }

        span {
            font-size: 2rem;
            color: $color-grey;
        }
    }

    &__reset-button {
        display: block;
        margin: 4rem auto 0 auto;
        text-decoration: none;
        background-color: $color-grey;
        color: $color-light-grey;
        font-size: 1.5rem;
        padding: 1rem;
        border: none;
        outline: none;
        border-radius: 3px;
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
        }

        &:active,
        &:focus {
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);

            //Styling for the <button> element
            //Requires the &:focus selector above
            outline: none;
        }
    }

}
