.home-container {
    //height: 100vh;
    position: relative;
    
}

.settings-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position:absolute;
    top: 2rem;
    right: 2rem;

    &__button {
        text-decoration: none;
        background-color: $color-grey;
        color: $color-light-grey;
        font-size: 1.5rem;
        padding: 1rem;
        border: none;
        outline: none;
        border-radius: 3px;
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
        }

        &:active,
        &:focus {
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);

            //Styling for the <button> element
            //Requires the &:focus selector above
            outline: none;
        }

    }

    &__current-settings {
        margin-top: 1rem ;
        color: $color-dark-grey;
        font-size: 1.1rem;
        vertical-align: center;
        text-align: right;
    }
    &__setting-icon {
        font-size: 1.4rem;
        text-align: center;
        padding-left: 1rem;
    }
}

.flex-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.section-input {
    text-align: center;
    color: $color-grey;
    font-weight: 200;
    font-size: 8rem;
    word-spacing: 1.5rem;
    padding-top: 12rem;

    @include respond('tab-port') {
        font-size: 6rem;
    }

    &__select {
        color: $color-grey;
        font-family: 'Muli', sans-serif;
        font-weight: 200;
        font-size: 8rem;

        @include respond('tab-port') {
            font-size: 6rem;
        }
    }

    &__select-option {
        font-weight: 200;
    }
}

.section-canI {
    margin: 3rem 0;
    height: 32rem;
    line-height: 32rem;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 700;

    @include respond('phone') {
        height: 20rem;
        line-height: 20rem;
    }

    &__span {
        font-size: 32rem;;
        font-weight: 400;
        color: $color-dark-grey;

        @include respond('phone') {
            font-size: 20rem;
        }
    }
}

.section-weather {

    color: $color-dark-grey;
    margin-bottom: 5rem;

    @include respond('tab-port') {
        padding: 1rem;
    }

    &__weather-box {
        background-color: $color-light-grey;
        max-width: 100rem;
        margin: 0 auto;
        padding: 2rem;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }
    
    &__header {
        font-size: 3rem;
        font-weight: 200;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    &__forecast-table {
        font-size: 2rem;
        font-weight: 300;
        width: 100%;
        vertical-align: center;

        td {
            text-align: left;
            //padding: 2rem;
        }

        th {
            text-align: left !important;
            //padding: 2rem;
        }
    }

    &__forecast-icon {
        height: 3rem;
    }
    
}

.attribution {
    color: $color-dark-grey;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 5px;

    a {
        color: $color-dark-grey;
    }
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}
  
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}

