.home-container {
    //height: 100vh;
    position: relative;
    
}

.settings-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position:absolute;
    top: 2rem;
    right: 2rem;

    &__current-settings {
        margin-top: 12rem ;
        color: $color-dark-grey;
        font-size: 1.1rem;
        vertical-align: center;
        text-align: right;

        @include respond('tab-port') {
            display: none;
        }
    }
    &__setting-icon {
        font-size: 1.4rem;
        text-align: center;
        padding-left: 1rem;
    }
}

.flex-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.section-input {
    text-align: center;
    color: $color-grey;
    font-weight: 200;
    font-size: 8rem;
    word-spacing: 1.5rem;
    padding-top: 12rem;

    @include respond('tab-port') {
        font-size: 4rem;
    }

    &__select {
        color: $color-grey;
        font-family: 'Muli', sans-serif;
        font-weight: 200;
        font-size: 8rem;

        @include respond('tab-port') {
            font-size: 4rem;
        }
    }

    &__select-option {
        font-weight: 200;
    }
}

.section-canI {
    margin: 3rem 0;
    height: 32rem;
    line-height: 32rem;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 700;

    @include respond('phone') {
        height: 20rem;
        line-height: 20rem;
    }

    &__span {
        font-size: 32rem;;
        font-weight: 400;
        color: $color-dark-grey;

        transition:all 0.6s ease-out;

        @include respond('phone') {
            font-size: 20rem;
        }

        //Handles animation when canI is set to a value
        &.ng-hide {
            opacity: 0;
        }
    }
}
.section-weather {

    color: $color-dark-grey;
    margin-bottom: 5rem;

    @include respond('tab-port') {
        padding: 2rem;
    }

    &__weather-box {
        background-color: $color-light-grey;
        max-width: 100rem;
        margin: 0 auto;
        padding: 2rem;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        transition:all 0.6s ease-out 0.6s;

        //Handles animation when hourlyWeatherArray is set for the first time
        &.ng-hide {
            opacity: 0;
        }
    }
    
    &__header {
        font-size: 3rem;
        font-weight: 200;
        text-align: center;
        text-transform: uppercase;

        @include respond('tab-port') {
            font-size: 2.5rem;
        }
    }

    &__location {
        font-size: 1.8rem;
        font-weight: 200;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 3rem;

        span {
            font-weight: 400;
            text-transform: none;
        }
    }

    &__forecast-table {
        font-size: 2rem;
        font-weight: 300;
        width: 100%;
        vertical-align: center;

        @include respond('tab-port') {
            font-size: 1.6rem;
        }

        td {
            text-align: left;
            //padding: 2rem;
        }

        th {
            text-align: left !important;
            //padding: 2rem;
        }

        span {
            padding: 0.5rem;
            border-radius: 2px;
        }
    }

    &__forecast-icon {
        height: 3rem;
    }

    &__summary {
        @include respond('tab-port') {
            display: none;
        }
    }
    
}

.highlighted span {
    background-color: rgba($color-red, 0.3);

}

.attribution {
    color: $color-dark-grey;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 5px;

    a {
        color: $color-dark-grey;
    }
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}
  
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}

