.home-container {
    height: 100vh;
    //padding: .75rem;
    position: relative;
}

/*
.activity-options {
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    label {
        margin: 0 0.5rem 0 2rem;
    }

    span {
        margin-left: .5rem;
    }

}
*/

.settings-button {
    position:absolute;
    top: 2rem;
    right: 2rem;
    text-decoration: none;
    background-color: $color-grey;
    color: $color-light-grey;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 2rem 3rem rgba($color-black, .3);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);

        //Styling for the <button> element
        //Requires the &:focus selector above
        outline: none;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100rem;
        position:absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s
    }
}

.flex-container {
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.section-input {
    //width: 100%;
    text-align: center;
    color: $color-grey;
    font-weight: 200;
    font-size: 8rem;
    word-spacing: 2rem;

    @include respond('tab-port') {
        font-size: 6rem;
        word-spacing: inherit;
    }

    &__select {
        color: $color-grey;
        font-family: 'Muli', sans-serif;
        font-weight: 200;
        font-size: 8rem;

        @include respond('tab-port') {
            font-size: 6rem;
        }
    }

    &__select-option {
        font-weight: 200;
    }
}

.section-canI {
    margin: 3rem 0;
    height: 32rem;
    line-height: 32rem;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 700;

    &__span {
        font-size: 32rem;;
        font-weight: 400;
        color: $color-dark-grey;

        @include respond('phone') {
            height: 20rem;
            line-height: 20rem;
            font-size: 20rem;
        }
    }
}

.section-weather {

    color: $color-dark-grey;

    &__weather-box {
        background-color: $color-light-grey;
        max-width: 100rem;
        margin: 0 auto;
        padding: 2rem;
    }
    
    &__header {
        font-size: 3rem;
        font-weight: 200;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    &__forecast-table {
        font-size: 2rem;
        font-weight: 300;
        width: 100%;

        td {
            text-align: left;
            //padding: 2rem;
        }

        th {
            text-align: left !important;
            //padding: 2rem;
        }
    }
    
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
  }
  
  /* The finishing CSS styles for the enter animation */
  .fade.ng-enter.ng-enter-active {
    opacity:1;
  }

