<div class="home-container" ng-init="locate()">
    
    <div class="settings-area">
        <button ng-click="displaySettings()" class="settings-area__button">Settings</button>
        <table class="settings-area__current-settings">
            <tr>
                <td>{{ $storage.thresholds[$storage.selectedActivity].lowTemp }} - {{ $storage.thresholds[$storage.selectedActivity].highTemp }} &deg;F</td>
                <td class="settings-area__setting-icon"><i class="wi wi-thermometer"></i></td>
            </tr>
            <tr>
                <td>&lt; {{ $storage.thresholds[$storage.selectedActivity].precipProb }}%</td>
                <td class="settings-area__setting-icon"><i class="wi wi-rain"></i></td>
            </tr>
            <tr>
                <td>&lt; {{ $storage.thresholds[$storage.selectedActivity].windSpeed }} MPH</td>
                <td class="settings-area__setting-icon"><i class="wi wi-strong-wind"></i></td>
            </tr>
        </table>
    </div>
    
    <div class="popup" id="popup">
        <div class="popup__content">
            <button ng-click="hideSettings()" class="popup__close">&times;</button>

            <h2 class="popup__header">Settings</h2>

            <h3 class="popup__sub-header">Weather Conditions</h3>

            <div class="popup__settings-item">
                <label for="lTemp">Minimum Temp (&deg;F)</label>
                <input id="lTemp" type="number" class="activity-options__low-temp" min="0" max="130" ng-model="$storage.thresholds[$storage.selectedActivity].lowTemp">
            </div>

            <div class="popup__settings-item">
                <label for="hTemp">Maximum Temp (&deg;F)</label>
                <input id="hTemp" type="number" class="activity-options__high-temp" min="0" max="130" ng-model="$storage.thresholds[$storage.selectedActivity].highTemp">
            </div>

            <div class="popup__settings-item">
                <label for="precip">Max Chance of Rain (%)</label>
                <input id="precip" type="number" class="activity-options__precip-prob" min="0" max="100" ng-model="$storage.thresholds[$storage.selectedActivity].precipProb">
            </div>

            <div class="popup__settings-item">
                <label for="wind">Max Wind Speed (MPH)</label>
                <input id="wind" type="number" class="activity-options__wind-speed" min="0" max="25" ng-model="$storage.thresholds[$storage.selectedActivity].windSpeed">
            </div>

            <h3 class="popup__sub-header">Activity Times</h3>

            <div class="popup__settings-item">
                <label for="activity_start">Depart</label>
                <input id="activity_start" type="number" min="0" max="23" ng-model="$storage.times[$storage.selectedTime].start">
            </div>
            <div class="popup__settings-item">
                <label for="activity_end">Return</label>
                <input id="activity_return" type="number" min="0" max="23" ng-model="$storage.times[$storage.selectedTime].end">
            </div>



        </div>
    </div>

    <div class="flex-container">
        <section class="section-input">
            <form action="#" class="section-input__form">
                <span class="section-input__plain-text">Can I </span>

                <select ng-model="$storage.selectedActivity" class="section-input__select">
                    <option value="bike" class="section-input__select-option">bike</option>
                    <option value="run" class="section-input__select-option">run</option>
                    <option value="walk" class="section-input__select-option">walk</option>
                </select>

                <select ng-model="$storage.selectedTime" class="section-input__select">
                    <option value="towork" class="section-input__select-option">to work</option>
                    <option value="toschool" class="section-input__select-option">to school</option>
                    <option value="today" class="section-input__select-option">today</option>
                    <option value="thismorning" class="section-input__select-option">this morning</option>
                    <option value="thisafternoon" class="section-input__select-option">this afternoon</option>
                    <option value="thisevening" class="section-input__select-option">this evening</option>
                </select>
                
                <span class="section-input__plain-text">?</span>
            </form>
        </section>

        <section class="section-canI">
            <span model="{{ canI }}" class="section-canI__span fade">{{ canI }}</span>
        </section>

        <section class="section-weather">

            <div class="section-weather__weather-box">
                <!-- Displays only if the "time type" is "commute" (i.e. to work, to school) -->
                <div class="section-weather__forecast" ng-show="$storage.times[$storage.selectedTime].type == 'commute'">
                    <h2 class="section-weather__header">Weather during your commute ({{ displayedWeatherData[0].todtom }})</h2>

                    <table class="section-weather__forecast-table">
                        <tr>
                            <th></th>
                            <th>Time</th>
                            <th>Summary</th>
                            <th>Temp</th>
                            <th>Precip</th>
                            <th>Wind</th>
                        </tr>

                        <tr ng-repeat="forecastObject in displayedWeatherData">
                            <td><img class="section-weather__forecast-icon"ng-src="/images/{{ forecastObject.icon }}.svg" alt="Icon"></td>
                            <td>{{ forecastObject.time }}</td>
                            <td>{{ forecastObject.summary }}</td>
                            <td>{{ forecastObject.temperature }} &deg;F</td>
                            <td>{{ forecastObject.precipProb }}%</td>
                            <td>{{ forecastObject.windSpeed }} MPH</td>
                        </tr>

                    </table>

                </div>

                <!-- Displays only if the "time type" is "block" (i.e. this evening, today) -->
                <div class="section-weather__forecast" ng-show="$storage.times[$storage.selectedTime].type == 'block'">
                    <h2 class="section-weather__header">Weather Forecast for {{ $storage.selectedTime }}</h2>

                    <table class="section-weather__forecast-table">
                        <tr>
                            <th></th>
                            <th>Time</th>
                            <th>Summary</th>
                            <th>Temp</th>
                            <th>Precip</th>
                            <th>Wind</th>
                        </tr>

                        <tr ng-repeat="forecastObject in displayedWeatherData">     
                            <td><img class="section-weather__forecast-icon" ng-src="/images/{{ forecastObject.icon }}.svg" alt="icon"></td>                       
                            <td>{{ forecastObject.time }}</td>
                            <td>{{ forecastObject.summary }}</td>
                            <td>{{ forecastObject.temperature }} &deg;F</td>
                            <td>{{ forecastObject.precipProb }}%</td>
                            <td>{{ forecastObject.windSpeed }} MPH</td>
                        </tr>
                    </table>
                </div>
            </div>

        </section>
    </div>

    <div class="attribution">
        <p class="attribution__dark-sky">powered by <a href="https://darksky.net/poweredby/">Dark Sky</a></p>
        <p class="attribution__flaticon">Weather icons by <a href="https://www.flaticon.com/authors/iconixar">iconixar</a> from <a href="https://www.flaticon.com">www.flaticon.com</a></p>
    </div>
</div>